/* TuEstilo.css */
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 600px;
  display: flex;
  place-items: center;
  width: 100%;
  max-width: 100%;
  flex-direction: column;
  align-items: center;
}

.container-login {
  display: flex;
  width: 100%;
}

.container-tool {
  display: flex;
  width: 1280px;
}

.custom-input-container {
  display: flex;
  align-items: center;
  margin: 10px;
}

.custom-input-container label {
  width: 10%;
  margin-right: 5%;
}

.custom-input-container input {
  flex: 1;
  padding: 8px;
  box-sizing: border-box;
}

.column-picture {
  flex: 1;
  text-align: center;
}

.column {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  text-align: center;
}

.full-width {
  width: 100%;
  height: auto;
}

.textInput {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #1c0e15;
  padding: 20px;
  margin: 10px;
  border: 1px solid #2a2a2b;
  border-radius: 4px;
  width: 50%;
  box-sizing: border-box;
}

.configuration-result {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 400;
  white-space: pre-line;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.25px;
  color: #1c0e15;
  padding: 20px;
  margin: 10px;
  border: 1px solid #2a2a2b;
  border-radius: 10px;
  width: 50%;
  box-sizing: border-box;
  width: 80%;
  text-align: left;
  height: 400px;
  overflow-y: auto;
  padding: 10px;
}

.login-hero-title {
  display: flex;
  justify-content: center;
  font:
    700 36px/1.33 "Titillium Web",
    Helvetica,
    Arial,
    serif;
  color: #1c0e15;
  text-align: center;
  width: auto;
  letter-spacing: 0px;
}

.login-hero-title.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;

  margin: 16px 10% 0px 10%;
}

.form {
  display: flex;
  flex-direction: column;
}

.button-row {
  display: flex;
  align-items: center;
}

.outline-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid rgb(0, 0, 148);
  border-radius: 4px;
  cursor: pointer;
  height: 40px;
  width: 200px;
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.centered-content {
  padding: 20px;
}

.flex-space {
  flex-grow: 1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
